{{> header}}

<h1>{{title}}</h1>

<form action="/replace" method="post">
    <textarea name="camelText"></textarea>
    </br>
    </br>
    Camel To Snake<input type="checkbox" name="snake"/>
    </br>
    </br>
    <input type="submit"/>
</form>

{{> footer}}